# EditorConfig helps maintain consistent coding styles for multiple developers
# working on the same project across various editors and IDEs.
# editorconfig.org

root = true

# All files
[*]
indent_style = space
indent_size = 2
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true

# Go files
[*.go]
indent_size = 4
tab_width = 4

# Makefile / Taskfile
[Makefile]
indent_style = tab

[Taskfile.yml]
indent_size = 2

# YAML files
[*.{yml,yaml}]
indent_size = 2

# JSON files
[*.json]
indent_size = 2

# Markdown
[*.md]
trim_trailing_whitespace = false
